* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--buff);
  margin: auto;
  width: 100%;
  color: var(--dark-purple);
  background-color: var(--salmon);
  padding: 10px;
  border-radius: 15px;
}

a:hover {
  text-decoration: none;
  color: var(--buff);
  margin: auto;
  width: 100%;
  color: var(--salmon);
  background-color: var(--dark-purple);
  padding: 10px;
  border-radius: 15px;
  border: solid 1px var(--salmon);
}

nav {
  background-color: var(--dark-purple);
  color: var(--buff);
  text-align: center;
}

div.box {
  background-color: #271e37;
  color: var(--salmon);
  padding: 30px;
  border-radius: 15px;
  text-align: center;
}

img {
  border-radius: 150px;
}

input[type="submit"] {
  display: flex;
  border: hidden;
  border-radius: 10px;
  background-color: var(--salmon);
  color: var(--dark-purple);
  padding-bottom: 0%;
  margin-top: 4%;
}

input[type="submit"]:hover {
  display: flex;
  border: hidden;
  border-radius: 10px;
  background-color: var(--dark-purple);
  color: var(--salmon);
  transition: 0.25s ease-in-out;
}

body {
  height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
}

footer {
  position: fixed;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #eb8a6f;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #271e37;
  padding: 15px;
}

span {
  color: #eb8a6f;
}

:root {
  --dark-purple: #271e37;
  --cordovan: #964a4d;
  --jasper: #bf5a4a;
  --burnt-sienna: #d07862;
  --salmon: #eb8a6f;
}
