* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 200%;
  margin-bottom: 10%;
}

label {
  font-size: 110%;
}

.content-center {
  width: 95%;
  height: 75%;
  padding-top: 50px;
}

.logo {
  padding-top: 30px;
}

img {
  border-radius: 150px;
}

input[type="text"] {
  width: 40%;
}

input[value="submit"] {
  width: 10%;
  height: 100%;
  align-self: center;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
}

footer {
  position: fixed;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #eb8a6f;
  width: 100%;
  bottom: 0;
  background-color: #271e37;
  display: flex;
  justify-content: center;
}

.reset-box {
  background-color: #271e37;
  color: #eb8a6f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 40%;
  margin: auto;
  border-radius: 20px;
}

.box {
  background-color: #271e37;
  color: #eb8a6f;
  padding: 10px;
  border-radius: 20px;
}

:root {
  --dark-purple: #271e37;
  --cordovan: #964a4d;
  --jasper: #bf5a4a;
  --burnt-sienna: #d07862;
  --salmon: #eb8a6f;
  --cosmos: #3d0019;
}
