* {
  flex-direction: column;
}

h6 {
  font-family: bradley hand, cursive;
  font-size: x-large;
}

header {
  padding-left: 20px;
  padding-right: 20px;
  color: #eb8a6f;
  background-color: #271e37;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 120%;
}

body {
  position: relative;
  background-color: #eb8a6f;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav {
  background-color: var(--dark-purple);
  color: var(--buff);
  text-align: center;
  display: flex;
  justify-content: center;
}

/* input[value="Log Out"] {
  background-color: var(--dark-purple);
  color: var(--salmon);
  border: none;
} */

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  flex-wrap: wrap;
}

.photo {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: fill;
  padding: 20px;
}

img {
  border-radius: 5%;
  margin: auto;
  border: var(--dark-purple) solid 4px;
}

.lower-text {
  background-color: var(--dark-purple);
  color: var(--salmon);
  display: flex;
  align-self: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  border-radius: 15px;
  padding-bottom: 30px;
  padding: 20px;
  width: 60%;
}

.likes-views {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 20px;
  padding-left: 27%;
  padding-right: 27%;
  width: 100%;
  text-align: center;
}

.like-order {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-height: 20px;
  padding-left: 2%;
  padding-right: 2%;
  width: 100%;
  text-align: center;
  padding-bottom: 7%;
}

button {
  height: 40px;
  width: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: var(--dark-purple);
  border: var(--dark-purple) solid 1px;
}

footer {
  background-color: var(--dark-purple);
  color: var(--salmon);
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
  
}

:root {
--dark-purple: #271E37;
--cordovan: #964A4D;
--jasper: #BF5A4A;
--burnt-sienna: #D07862;
--salmon: #EB8A6F;
}