* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #eb8a6f;
  text-decoration: none;
}

a.dark-link {
  color: #271e37;
}

header {
  padding-left: 20px;
  padding-right: 20px;
  color: #eb8a6f;
  background-color: #271e37;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 120%;
}

title {
  display: none;
}

div.contact {
  background-color: #d07862;
  color: #271e37;
  border-radius: 10px;
  padding: 3px;
  border: solid 4px #271e37;
  width: 100%;
  margin-bottom: 10px;
}

div.contact-list {
  background-color: #eb8a6f;
  padding: 5px;
  border-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: #271e37;
  border-right: solid 4px #271e37;
  height: 100%;
}

div.contacts {
  background-color: #eb8a6f;
  border-radius: 20px;
  margin-top: 10px;
  padding-top: 10px;
  height: 80%;
  width: 100%;
  overflow: scroll;
  scrollbar-width: none;
  scrollbar-color: #eb8a6f;
}

div.container {
  background-color: #eb8a6f;
  border-radius: 20px;
  border: solid 4px #271e37;
  margin: 20px 0 60px 0;
  align-self: center;
  height: 80%;
  display: flex;
  justify-content: space-between;
}

div.messages {
  background-color: #eb8a6f;
  border-radius: 20px;
  height: 100%;
}

input[type="submit"] {
  background: none;
  color: #eb8a6f;
  border: none;
  font-size: 100%;
}

input[type="submit"]:hover {
  cursor: pointer;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 50px;
}

footer {
  position: fixed;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #eb8a6f;
  width: 100%;
  bottom: 0;
  background-color: #271e37;
}

hr {
  background-color: #271e37;
  border: none;
  height: 2px;
  width: 100%;
  margin-top: 5px;
}

html {
  height: 100%;
}

:root {
  --dark-purple: #271e37;
  --cordovan: #964a4d;
  --jasper: #bf5a4a;
  --burnt-sienna: #d07862;
  --salmon: #eb8a6f;
}
