* {
  padding: 0;
  margin: 0;
  font-family: "Optima", sans-serif;
}
body {
  background-color: #edf2f4;
  color: #2b2d42;
}

a {
  color: #00b7ff;
  text-decoration: none;
}

header {
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 50px;
  background-color: #2b2d42;
  color: #edf2f4;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

footer {
  position: fixed;
  bottom: 0%;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 2%;
  background-color: #2b2d42;
  color: #edf2f4;
  text-align: center;
}

span {
  align-self: center;
  align-items: center;
  display: flex;
}

span.site_logo {
  padding: 0%;
  color: #edf2f4;
}

div.new-post {
  font-weight: bolder;
  border-radius: 5px;
  padding: 3%;
  background-color: #8d99ae;
  width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-size: 20px;
}

.p {
  font-size: 20px;
  margin-top: 10%;
  font-style: italic;
}

input.post {
  align-self: center;
  width: 50%;
  font-weight: bolder;
  font-size: 20px;
}

input.post:hover {
  background-color: #2b2d42;
  color: #edf2f4;
  font-size: 20px;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  align-self: center;
  display: inline-block;
  background-color: #edf2f4;
  padding: 3px 12px;
  cursor: pointer;
  margin-bottom: 5%;
  border-radius: 10px;
}

.custom-file-upload:hover {
  background-color: #2b2d42;
  color: #edf2f4;
}

input[type="text"] {
  border-radius: 10px;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #edf2f4;
}

input[type="submit"] {
  background-color: #2b2d42;
  color: #edf2f4;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

.label {
  font-size: 40px;
  padding-bottom: 20px;
}

textarea {
  border-radius: 10px;
  padding: 15px;
  margin: 5px 0 5px 0;
  display: inline-block;
  border: none;
  background: #edf2f4;
  resize: none;
  word-wrap: break-word;
}

.characters-remaining-field {
  font-weight: bold;
  text-align: left;
  padding-bottom: 20px;
  color: #2b2d42;
  font-size: small;
}

form.button {
  padding: 0;
}

input.logout {
  font-family: "Optima", sans-serif;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  color: #00b7ff !important;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
}

/* responsive */

/* For mobile phones: */
@media only screen and (max-width: 599px) {
  .col-xs-1 {
    width: 8.33%;
  }
  .col-xs-2 {
    width: 16.66%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.33%;
  }
  .col-xs-5 {
    width: 41.66%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.33%;
  }
  .col-xs-8 {
    width: 66.66%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-10 {
    width: 83.33%;
  }
  .col-xs-11 {
    width: 91.66%;
  }
  .col-xs-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
