* {
  margin: 0;
  padding: 0;
  font-family: "Optima", sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #edf2f4;
  color: #2b2d42;
}

header {
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 50px;
  background-color: #2b2d42;
  color: #edf2f4;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

footer {
  position: fixed;
  bottom: 0%;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 2%;
  background-color: #2b2d42;
  color: #edf2f4;
  text-align: center;
}

#leftbox {
  background: #edf2f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5%;
}

#rightbox {
  background: #8d99ae;
  padding: 10px;
  border-radius: 10px;
}

h1 {
  color: #2b2d42;
  text-align: center;
  padding: 0;
  margin-bottom: 20px;
  font-size: 300%;
}

p {
  color: #2b2d42;
  text-align: center;
  padding: 0;
  font-style: italic;
}

div.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
}

a {
  color: #00b7ff;
  text-decoration: none;
}

/* style inputs buttons */
input,
.btn {
  width: 80%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  margin-bottom: 10px;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
}

/* style the submit button */
input[type="submit"] {
  background-color: #edf2f4;
  color: #2b2d42;
  cursor: pointer;
  margin-top: 10px;
}

input[type="submit"]:hover {
  background-color: #2b2d42;
  color: #edf2f4;
}

.col {
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
  padding-left: 50%;
  padding-right: 50%;
}

span {
  align-self: center;
  display: flex;
}

span.site_logo {
  padding: 0%;
  color: #edf2f4;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-bottom: 20px;
}

/* responsive */

/* For mobile phones: */
@media only screen and (max-width: 599px) {
  .col-xs-1 {
    width: 8.33%;
  }
  .col-xs-2 {
    width: 16.66%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.33%;
  }
  .col-xs-5 {
    width: 41.66%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.33%;
  }
  .col-xs-8 {
    width: 66.66%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-10 {
    width: 83.33%;
  }
  .col-xs-11 {
    width: 91.66%;
  }
  .col-xs-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
