* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #eb8a6f;
  text-decoration: none;
}

a.dark-link {
  color: #271e37;
}

header {
  padding-left: 20px;
  padding-right: 20px;
  color: #eb8a6f;
  background-color: #271e37;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 120%;
}

title {
  display: none;
}

div.container {
  background-color: #271e37;
  border-radius: 20px;
  border: solid 4px #bf5a4a;
  margin: 20px 0 60px 0;
  align-self: center;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

div.edit-message {
  background-color: #271e37;
  border-top: solid 4px #bf5a4a;
  border-bottom-right-radius: 15px;
  padding-top: 5px;
  position: absolute;
  bottom: 0;
  height: 20%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

div.item {
  background-color: #d07862;
  color: #271e37;
  border-radius: 10px;
  border: solid 4px #bf5a4a;
  overflow-x: hidden;
  width: 100%;
  height: fit-content;
  padding: 3px;
  font-size: 80%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  align-items: center;
  word-wrap: break-word;
}

a {
  word-wrap: break-word;
}

div.items {
  background-color: #271e37;
  border-radius: 20px;
  margin-top: 5px;
  padding-top: 10px;
  width: 100%;
  overflow: scroll;
  scrollbar-width: none;
  scrollbar-color: #eb8a6f;
}

div.items-list {
  background-color: #271e37;
  padding: 5px;
  border-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: #eb8a6f;
  border-right: solid 4px #bf5a4a;
}

div.profile {
  background-color: #271e37;
  padding-top: 10px;
  border-radius: 20px;
  height: 100%;
  position: relative;
  color: #eb8a6f;
}

div.profile-details {
  background-color: #271e37;
  border-top-right-radius: 15px;
  height: 80%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

img.item {
  margin-right: 5px;
  border-right: #271e37 solid 5px;
  width: 30%;
}

input.edit-message {
  margin-bottom: 5px;
}

input[type="submit"] {
  background: none;
  color: #eb8a6f;
  border: none;
  font-size: 100%;
}

input[type="submit"].edit-message {
  padding: 8px;
  margin: auto;
  border-radius: 20px;
  border: solid #bf5a4a 4px;
  background-color: #271e37;
  color: #eb8a6f;
  align-items: center;
}

input[type="submit"]:hover {
  cursor: pointer;
  background-color: #eb8a6f;
  color: #271e37;
}

input[type="submit"]:hover {
  cursor: pointer;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 50px;
}

footer {
  position: fixed;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #eb8a6f;
  width: 100%;
  bottom: 0;
  background-color: #271e37;
}

form.edit-message {
  display: flex;
  flex-direction: column;
  font-size: 120%;
}

hr {
  background-color: #bf5a4a;
  border: none;
  height: 2px;
  width: 80%;
  align-self: center;
  margin: auto;
  margin: 5px 0 30px 0;
}

html {
  height: 100%;
}

input[type="text"].new-message {
  padding: 7px 20px 7px 20px;
  font-size: 100%;
  border-radius: 20px;
  border: solid var(--jasper) 4px;
  align-items: center;
  background-color: var(--salmon);
  color: var(--dark-purple);
}

input[type="text"].new-message:hover {
  background-color: var(--jasper);
  color: var(--dark-purple);
  border-color: var(--salmon);
}

:root {
  --dark-purple: #271e37;
  --cordovan: #964a4d;
  --jasper: #bf5a4a;
  --burnt-sienna: #d07862;
  --salmon: #eb8a6f;
}
