<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>FableMart - Orders</title>
  <link rel='stylesheet' href='/stylesheets/forgot-password-email-sent.css' />
  <link rel='stylesheet' href='/stylesheets/main.css' />
</head>

<body>
  <header> <img src="/images/fablemart-logo.png" alt="fablemart" height="200px" width="300px">
  </header>
  <div class="box">
    <h1> Your email has been sent</h1>
    <br>
    <br>
    <a href="/sessions/new">Go back to log in</a>
  </div>
  <footer>
    <p>FableMart™ - Bringing imagination to life</p>
  </footer>
</body>

</html>