<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>FableMart™ - Pigeon on the way</title>
  <link rel='stylesheet' href='/stylesheets/main.css' />
  <link rel='stylesheet' href='/stylesheets/insert-email.css' />
</head>

<body>
  <header>
    <div class="parent">
      <a href="/"><img src="/images/fablemart-logo.png" alt="fablemart" height="200px" width="300px" class="logo"></a>
      <img src="https://static.thenounproject.com/png/4866-200.png" alt="fablemart" id="pigeon" class="pigeon" height="75px" width="75px">
    </div>
  </header>
  <div class="box">
    <h1> Your email has been sent</h1>
    <br>
    <a href="/sessions/new">Go back to log in</a>
  </div>
  <footer>
    <p>FableMart™ - Bringing imagination to life</p>
  </footer>
</body>

</html>