<% if (error) { %>
<h1><%= error %></h1>
<% } %>
<h1>Insert your email address</h1>
<form action="/forgot-password" method="POST">
  <label for="email">Email address</label>
  <input type="text" name="email">
  <input type="submit" value="get my password">
</form>