<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Acebook - Homepage</title>
    </head>
    <body>
        <header>
            <span>
                <input type="text" placeholder="Search..">
            </span>

            <span>
                <a href="/sessions/new">Log Out</a>
                <span class="larger">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                <a href="/items/new">+ New Product</a>
                <span class="larger">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                <a href="/messages">Messages</a>
                <span class="larger">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                <a href="/users/<%=user.username%>">Profile</a>
            </span>
        </header>

            <div>
                <p>Image of Product</p>
                <p>Name of Product</p>
                <p>Description of Product</p>
            </div>

    </body>
    <footer>FableMart™ in partnership with Eta™</footer>
</html>