<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>FableMart- List an item</title>
  <link rel='stylesheet' href='/stylesheets/items-new.css' />
</head>

<body>
  <header>
    <a href="/"><img src="/images/fablemart-logo-without-decoration.png" alt="fablemart" height="50px" width="100px"></a>
    <span class="larger">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
    <a href="/users/<%= user.username %>">Profile</a>
    <span class="larger">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
    <a href="/items/new">+Item</a>
    <span class="larger">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
    <a href="/messages">Messages</a>
    <span class="larger">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
    <a href="/orders">Orders</a>
  </header>
  <div class="content">
    <div class="input-field">
      <div class="item-input">
        <form action="/items" method="post">
          <div>
            <label for="name">Item name: &nbsp;</label><input type="text" name="name">
          </div><br>

          <div>
            <label for="description">Description: &nbsp;</label><input type="text" name="description">
          </div>
          
          <br>

          <div>
            <label for="photo">Photo Link: &nbsp;</label>
            <input type="text" name="photo">
          </div><br><br>

          <div class="buttons">
            <input type="submit">

            <input type="submit" value="Cancel">
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
<footer>
  <p>FableMart™ - Bringing imagination to life</p>
  <form action="/sessions?_method=DELETE" method="POST">
    <input type="submit" value="Log Out">
  </form>
</footer>

</html>