<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>FableMart- List an item</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/items-new.css' />
</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <header>

    <nav>
      <span class="container-fluid justify-content-center">
        <form action="/sessions?_method=DELETE" method="POST">
          <a href="/"><img src="/images/fablemart-logo-without-decoration.png" alt="fablemart" height="50px" width="100px"></a>
          <span class="larger">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
          <a href="/users/<%= user.username %>">Profile</a>
          <span class="larger">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
          <a href="/items/new">New Item</a>
          <span class="larger">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
          <a href="/messages">Messages</a>
          <span class="larger">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
          <a href="/orders">Orders</a>
          <span class="larger">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
          <input type="submit" value="Log Out">
        </form>
      </span>
    </nav>
  </header>
  <div class="d-flex flex-column justify-content-center">
    <div class="input-field">
      <div class="item-input">
        <form action="/items" method="post">
          <div>
            <label for="name">Item name: &nbsp;</label><input type="text" name="name">
          </div><br>

          <div>
            <label for="description">Description: &nbsp;</label><input type="text" name="description">
          </div><br>

          <div>
            <label for="photo">Photo Link: &nbsp;</label>
            <input type="text" name="photo">
          </div><br><br>

          <div class="buttons">
            <input type="submit">

            <input type="submit" value="Cancel">
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
<nav style="position: fixed; bottom: 0%; right: 0%; left: 0%; padding-top:1%">
  <div class="justify-content-center">
    <p>FableMart™ Bringing imagination to life</p>
  </div>
</nav>

</html>