<h1>editing <%=profileUser.username %>'s profile</h1>
<h2>Username: <%=profileUser.username %></h2>
<h2>Bio: <form name="bio" action="">
    <input type="<submit" value="<%=profileUser.bio %>" onClick=changeText()>
  </form>
</h2>
<h2>Items: </h2>

