<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">    
        <title>FableMart</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel='stylesheet' href='/stylesheets/sign-up.css' />
    </head>

        <div>
            <nav class="header">
                <div class="container-fluid justify-content-center">
                    <a class="logo navbar-brand fs-1" href="/">FableMart</a>
                    <a class="login navbar-brand fs-1" href="/sessions/new">Log In</a>
                </div>
            </nav>
        </div>

    <body class="">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

        
        <div class="content d-flex justify-content-center align-items-center fs-6">
        
            <div class="form text-center">
        
                <p>*sighs*</p>
                <p>Well, then, let's get you one now, shall we?</p>
                <p>We'll need some information from you first. Let's go!</p>
                <img src="https://static.thenounproject.com/png/4866-200.png"><br><br>

                <button onclick="movingLeft()">Move Left</button>
                <button onclick="movingRight()">Move Right</button>
        
                <form id="new-user-form" action="/users" method="post">
                    <div class="username mt-2" id="username" style="position: relative; left: 1800px;">
                        <label id="username" for="username" class="text-center">What would you like your FablePASS traveller name to be? <br> (traveller names must be unique and can't be changed afterwards) </label>
                        <input id="username" for="username" class="input-box" type="text" name="username" title="LowerCase and special chars(.$@£_%!?&)" size="50"
                        minlength="4" maxlength="15" pattern="^[a-z]+[a-z0-9.$@£_%!?&]+$" placeholder="type in da usename plis..." required />
                    </div>        
                <br>
        
                <div id="email" class="email mt-2" style="position: relative; left: 3600px; bottom: 105px"> 
                    <label id="email" for="email" class="text-center">What are your pigeon-box coordinates? <br> (boringly referred to as "email address") </label>
                    <input id="email" for="email" class="input-box" type="email" title="LowerCase Only" name="email" placeholder="your NI numb.. i mean e-mail plz" size="50" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required />
                </div>
        
                <br>

                <div class="password mt-2" id="password" style="position: relative; left: 5400px; bottom: 210px"> 
                    <label id="password" for="password" class="text-center">What is your pigeon called? <br> (or if you are human, this is also known as a password) </label>
                    <input id="password" for="password" class="input-box" title="8-32 Characters, 1 UpperCase, 1 LowerCase, 1 Digit, 1 Special Character" 
                        type="password" name="password" size="50" placeholder="smh your password N O W" required
                        pattern="^(?:(?:(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z]))|(?:(?=.*[a-z])(?=.*[A-Z])(?=.*[*.!@$%^&(){}[]:;<>,.?/~_+-=|\]))|(?:(?=.*[0-9])(?=.*[A-Z])(?=.*[*.!@$%^&(){}[]:;<>,.?/~_+-=|\]))|(?:(?=.*[0-9])(?=.*[a-z])(?=.*[*.!@$%^&(){}[]:;<>,.?/~_+-=|\]))).{8,32}$"/>
                    <!-- <span><i class="fa fa-eye-slash" id="toggle-password"></i> &nbsp; Show password</span><br> -->
                </div>

                    <br>

                    <div class="bio mt-2" style="position: relative; left: 7200px; bottom: 315px" id="bio">
                        <label for="bio" class="text-center" >Tell us something about yourself <br>  (or not) </label>
                        <input id="bio" class="input-box"  type="text" name="bio" title="Enter a bio for everyone to see" size="50" placeholder="there are kids in my basement ;)">
                    </div>

                    <br>
                    <!-- 
                    <div>
                        <p id="character-length">✗ Must contain between 8-32 characters</p>
                        <p id="lower-case">✗ Must contain lower case</p>
                        <p id="upper-case">✗ Must contain upper case</p>
                        <p id="special-character">✗ Must contain special character</p>
                        <p id="digit">✗ Must include a digit</p>
                    </div><br> -->

                </div>

                <input id="submit" type="submit" value="Submit" style="position: relative; left: 1800px;" />
            </form>
        </div>

            </div>

        <nav>
            <div class="footer justify-content-center">
            <p>FableMart™ Bringing imagination to life</p>
            <p >Whatever you’ve got in mind, we’ve got inside.</p>
            </div>
        </nav>

    </body>        
    <script>
        function movingLeft() {
            var usernameBox = document.getElementById("username");
            var emailBox = document.getElementById("email");
            var passwordBox = document.getElementById("password");
            var bioBox = document.getElementById("bio");

            usernameBox.style.transition = 'all 1.5s ease-out'; // add transition property
            emailBox.style.transition = 'all 1.5s ease-out'; // add transition property
            passwordBox.style.transition = 'all 1.5s ease-out'; // add transition property
            bioBox.style.transition = 'all 1.5s ease-out'; // add transition property

            usernameBox.style.left = parseInt(usernameBox.style.left) - 1800 + 'px';
            emailBox.style.left = parseInt(emailBox.style.left) - 1800 + 'px';
            passwordBox.style.left = parseInt(passwordBox.style.left) - 1800 + 'px';
            bioBox.style.left = parseInt(bioBox.style.left) - 1800 + 'px';
        }

        function movingRight() {
            var usernameBox = document.getElementById("username");
            var emailBox = document.getElementById("email");
            var passwordBox = document.getElementById("password");
            var bioBox = document.getElementById("bio");

            usernameBox.style.transition = 'all 1.5s ease-out'; // add transition property
            emailBox.style.transition = 'all 1.5s ease-out'; // add transition property
            passwordBox.style.transition = 'all 1.5s ease-out'; // add transition property
            bioBox.style.transition = 'all 1.5s ease-out'; // add transition property

            usernameBox.style.left = parseInt(usernameBox.style.left) + 1800 + 'px';
            emailBox.style.left = parseInt(emailBox.style.left) + 1800 + 'px';
            passwordBox.style.left = parseInt(passwordBox.style.left) + 1800 + 'px';
            bioBox.style.left = parseInt(bioBox.style.left) + 1800 + 'px';
        }
    </script>
</html>

<!-- // function moveElement(elementId) {
    //     var container = document.getElementById(elementId);
    //     container.style.transition = 'all 1.5s ease-out'; // add transition property
    //     container.style.left = parseInt(container.style.left) - 1800 + 'px';
    // } -->