<h1>profile page for <%=profileUser.username %></h1>
<%if (currentUser.username === profileUser.username) {%>
<a href = "/users/<%=profileUser.username%>/edit" >edit</a>
<% } else {%>
<a href = "/messages/<%=profileUser.username%>" >message</a>
<% }%>


